# Virtual Environments
venv/
.venv/
env/
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Build artifacts
build/
dist/
*.egg-info/
*.egg

# Instance folders
.idea/
.vscode/
*.log
*.db
*.sqlite3
